html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Color del fondo */
.fondo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #e4cefd, #f9e9dd);
}

/* Card */
.card-principal {
  width: 100%;
  max-width: 700px;
  margin: 1rem auto;
  border-radius: 16px;
}

.card-principal:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.card-principal .card-title {
  font-size: 2rem;
  font-weight: 700;
}

.card-principal .card-body {
  background-color: #e8d7fb;
}

.colorHeaderCard {
  background-color: #6f42c1 !important;
  padding: 1rem !important;
}

/* Items del card */
.item-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  transition: all 0.2s ease;
}

.item-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Texto de cada item del card */
.titulo-item {
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.subtexto {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

/* Botones */
.btn-entrar {
  background: linear-gradient(90deg, #6f42c1, #9b59b6);
  font-weight: 600;
  border: 2px solid #490268 !important;
}

.btn {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.btn-modo-discreto {
  background: linear-gradient(90deg, #6f42c1, #9b59b6) !important;
  color: white !important;
  border: 2px solid #490268 !important;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
}

.btn-danger {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #ff4c4c, #ff0000) !important;
  color: white !important;
  border: 2px solid #940404 !important;
}

/*  MODO DISCRETO */
body.modo-discreto .fondo {
  background: grey !important;
}

/* Header de la card */
body.modo-discreto .card-principal .card-header {
  background-color: #460766 !important;
  color: grey !important;
}

/* Body de la card */
body.modo-discreto .card-principal .card-body {
  background-color: transparent !important;
}

/* Items de la card */
body.modo-discreto .card-principal .item-card {
  filter: none !important;
  background: #4c4b4b !important;
  color: grey !important;
  border: 1px solid #5a5a5a;
}

/* Botón de entrar */
body.modo-discreto .btn-entrar {
  background: #460766;
}
